__pycache__/
token-classification/*.txt
token-classification/*.tmp
question-answering/data/
question-answering/logsqa/
token-classification/germeval-model/
question-answering/qa-squad1.0/
*/*.ipynb
/question-answering/*.json
/token-classification/WNUT-17/
/sequence-classification/w2/
/sequence-classification/instabase-data/
